h1{
    
    color: #430C8B; 
    font-size: 35px; 
    text-align: center;
}

.login-body{
    padding: 10% 0;
    margin: auto;
    width: 25%;
    font-size: 22px;
}


input{
    float: right;
}

button{
    margin: 5% 20%;
}
