@import url("https://fonts.googleapis.com/css?family=Open+Sans :600");

:root {
    --black: rgba(0, 0, 0, 1);
    --font-size-s: 20px;
    --font-size-m: 25px;
    --font-size-l: 55px;
    --font-family-open_sans : "Open Sans";
} 

.overlap-group3 {
    align-items: flex-start; background-color: #f3f2f2;
    border: 3px dashed;
    border-color: var (--black);
    display: flex;
    flex-direction: column;
    gap: 9px;
    margin-right: 1px; margin-top: 244px; min-height: 441px; padding: 39px 118px;
    width: 957px;
}

.overlap-group {
    align-self: center;
    height: 241px;
    margin-right: 6px;
    position: relative;
    width: 201px;
}

.view-details {
    color: D#2b329d;
    font-family: var (--font-family-open_sans) ;
    font-size: var (--font-size-s) ;
    font-weight: 600;
    height: 41px;
    left: 26px;
    letter-spacing: 0; 
    line-height: 20px; 
    position: absolute; 
    text-align: center;
    text-decoration: underline;
    top: 200px;
    width: 150px;
}
.ok {
    height: 201px;
    left: 0;
    position: absolute;
    top: 0;
    width: 201px;
}

.your-file-is-validat {
    color: var(--black);
    font-family: var(--font-family-open_sans);
    font-size: var(--font-size-l);
    font-weight: 600;
    height: 200px;
    letter-spacing: 0;
    line-height: 55px;
    text-align: center;
    width: 716px;
}
.valign-text-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

