@import url("https://fonts.googleapis.com/css?family=Open+Sans :600");


/* 
.file-upload-container {
    width: 300px;
    margin: 0 auto;
    text-align: center;
}

.file-upload-input {
    display: none;
}

.file-upload-label {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    
}

.file-upload-label:hover {
    background-color: #2980b9;
}

.file-upload-success {
    margin-top: 20px;
    background-color: #27ae60;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    display: none;
}

@media (max-width: 768px) {
    .file-upload-container {
        width: 80%;
    }
}
.group {
    align-items: flex-start;
    background-color: #f3f2f2;
    border: 3px dashed;
    border-color: var (--black);
    display: flex;
    flex-direction: column;
    gap: 9px;
    margin-right: 1px;
    margin-top: 244px;
    min-height: 441px;
    padding: 39px 118px;
    width: 957px;

}

.browse-upload{
    font-size: 35px; 
    text-align: center;
} */

.group{
    width: 50%;
    height: 50%;
    border: dashed 2px #000;
    margin: 0 auto;
    text-align: center;
}
